/* This is the div where the items are displayed after the data is pulled from the database */
.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 55px;
}

.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}

/* Card for the single item */
.card{
  width: 300px;
}
.card .card-image .card-title{
  color: black;
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: black;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  height: 250px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}
.nav-wrapper {
  background-color:black;
}


